/*estilos formularios*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 110, 122);
}

.form{
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background: rgb(245, 245, 245);
}

.logo{
    font-size: 28px;
    font-weight: 200;
    color: black;
    text-align: left;
    margin:20px;

}

button{
    width: 90%;
    height: 30px;
    margin-top: 3%;
    
    border-radius: 6px;
    border: 1px solid rgb(38, 50, 56);
    cursor: pointer;
    padding: 5px;

}

form{
    margin-top: 30px;
}

input{
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border: 1px solid rgb(38, 50, 56);
    background-color: rgb(236, 239, 241);
    border-radius: 4px;
    margin-bottom: 10px;
    text-size-adjust: 100px;

}

.form-link{
    text-align: center;
    

}
.form-link span{
    
    font-size: 14px;
    font-weight: 400;
    
    
}
.form a {
    color: #0277BD;
    text-decoration: none;
    font-size: 14px;
    
}
ul#imagenInicio {
    display: flex;
    list-style: none;
   
   
    
}

main{
    background-color: gray;
}

ul#imagenInicio li{
    padding: 10px;


    
}
ul#imagenInicio li div {
    width: auto;
    height: auto;
    
}

ul#imagenInicio li div img{
    width: auto;
    height: 320px;
}

ul#footer2 {
    display:flex;
    list-style: none;

}
ul#footer2 li {
    padding: 10px;
    margin: 10px;

}

ul#menuPrincipal li a{
    background-color: rgb(188, 207, 223);
    margin:10px;
    border-radius:0.15cm;
}
div#miCuenta {
    list-style: none;
    background-color: rgb(188, 207, 223);
    margin:10px;
    border-radius:0.15cm;
    padding:7px;
}
ul#alimento {
    display: flex;
    padding: 20px;
    list-style: none;
}

ul#alimento li div img{
    width: auto;
    height: 320px;
}

div#recomendacion {
    list-style: none;

}

div#recomendacion li{
    background-color: white;
    padding: 10px;
    margin: 25px;
    border-radius:1cm ;
    font-weight: 600;
    width:16%;

}

.infoCalorias {
    background-color: white;
    border-radius: 0.2cm;
    padding: 20px;
}

.infoCalorias p {
    padding:20px;
}

.caloriasDiarias li{
    display:inline-flex;
}

.fotoPerfil{
    width: 180px;
    height: 180px;
    padding:10px;

    
}

.Perfil{
    padding: 10px;
}
.Perfil li{
    display:inline;
    list-style: none;
    background-color: rgb(188, 207, 223);
    margin:10px;
    padding: 10px;
    border-radius:0.15cm;

}

div#dashboardPerfil {
    background-color: white;
    border-radius:2cm;
    padding: 250px;
    margin: 50px;
}

ul#infoAlimento {
    display: flex;
    list-style: none;
}

ul#infoAlimento li div img{
    width: auto;
    height: 380px;

}

div#informacion {
   list-style: none;

}

div#informacion li{
    background-color: white;
    padding: 10px;
    border-radius:1cm ;
    font-weight: 600;
    width:16%;

}

.seguimientoD {
    background-color: white;
    border-radius: 0.2cm;
    padding: 80px;
    margin: 10px;
}


.modificarDia{
    list-style:none;
    background-color: white;
    border-radius:0.2cm;
    margin: 20px;
    height: 7%;
    width: 97%;
   
}
.modificarDia li{
    display:inline;
    padding:12px;

}

.containerDias {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: initial;
    justify-content: start;
    
}

.Ejercicio {
    background-color: white;
    border-radius: 0.2cm;
    padding: 45px;
    margin: 20px;
    width: 100%;
    height: 75%;
}






